<h1>{{pageTitle}}</h1>

<style>
    .add-btn{
        box-shadow: 0 0 0 .05rem rgba(0,123,255,.25);
    }
    #addMovie{
        background-color:khaki;
    }
</style>
<div id="addMovie" class="container">
    <form id="updateForm" action="/api/Movies/{{movieId}}">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}" required>
        </div>
        <div class="form-group col-md-4">
          <label for="runtime">Runtime</label>
          <input type="number" class="form-control" id="runtime" name="runtime" value="{{movie.runtime}}">
        </div>
        <div class="form-group col-md-4">
            <label for="type">Type</label>
            <input type="text" class="form-control" id="type" name="type" value="{{movie.type}}">
        </div>
      </div>
      <div class="form-group">
        <label for="plot">Plot</label>
        <textarea class="form-control" id="plot" rows="3" name="plot" placeholder="Enter plot" required>{{movie.plot}}</textarea>
      </div>
      <div class="form-group">
        <label for="poster">Poster URL</label>
        <input type="url" class="form-control" id="poster" name="poster" value="{{movie.poster}}" placeholder="Enter poster URL">
      </div>
      <div class="form-group">
        <label for="fullplot">Full Plot</label>
        <textarea class="form-control" id="fullplot" name="fullplot" rows="5" placeholder="Enter full plot">{{movie.fullplot}}</textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="mr-5">Genres</label>
                </div>
                <div class="col-md-9">
                    <button class="btn add-genre-btn py-1 add-btn" type="button" data-container-id="genresContainer" data-input-name="genre[]">
                        <i class="fas fa-plus fa-xl"></i>
                    </button>
                </div>
            </div>
            <div id="genresContainer">
                {{#each movie.genres}}
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{this}}" name="genre[]" placeholder="Enter value">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary remove-input-btn" type="button">Remove</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="mr-5">Languages</label>
                </div>
                <div class="col-md-9">
                    <button class="btn add-language-btn py-1 add-btn" type="button" data-container-id="languagesContainer" data-input-name="language[]" data-container-id="languagesContainer" data-input-name="language[]">
                        <i class="fas fa-plus fa-xl"></i>
                    </button>
                </div>
            </div>
            <div id="languagesContainer">
                {{#each movie.languages}}
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{this}}" name="language[]" placeholder="Enter value">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary remove-input-btn" type="button">Remove</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="mr-5">Directors</label>
                </div>
                <div class="col-md-9">
                    <button class="btn add-director-btn py-1 add-btn" type="button" data-container-id="directorsContainer" data-input-name="director[]">
                        <i class="fas fa-plus fa-xl"></i>
                    </button>
                </div>
            </div>
            <div id="directorsContainer">
                {{#each movie.directors}}
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{this}}" name="director[]" placeholder="Enter value">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary remove-input-btn" type="button">Remove</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="mr-5">Casts</label>
                </div>
                <div class="col-md-9">
                    <button class="btn add-cast-btn py-1 add-btn" type="button" data-container-id="castsContainer" data-input-name="cast[]">
                        <i class="fas fa-plus fa-xl"></i>
                    </button>
                </div>
            </div>
            <div id="castsContainer">
                {{#each movie.cast}}
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{this}}" name="cast[]" placeholder="Enter value">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary remove-input-btn" type="button">Remove</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
      </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label class="mr-5">Country</label>
                    </div>
                    <div class="col-md-9">
                        <button class="btn add-countries-btn py-1 add-btn" type="button" data-container-id="countriesContainer" data-input-name="countries[]">
                            <i class="fas fa-plus fa-xl"></i>
                        </button>
                    </div>
                </div>
                <div id="countriesContainer">
                    {{#each movie.countries}}
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{this}}" name="countries[]" placeholder="Enter value">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary remove-input-btn" type="button">Remove</button>
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="year">Year</label>
                <input type="number" class="form-control mt-3" id="year" value="{{movie.year}}" name="year" placeholder="Enter year">
            </div>
        </div>
      
      <div class="form-row mb-4">
        <div class="form-group col-md-6">
          <label for="rated">Rated</label>
          <input type="text" class="form-control" id="rated" value="{{movie.rated}}" name="rated" placeholder="Enter rated as">
        </div>
        <div class="form-group col-md-6">
            <label for="released">Release Date (YYYY-MM-DD)</label>
            <input type="date" id="released" name="released" min="1870-01-01" max="2100-12-31" required>
        </div>
      </div>
      
        <div class="form-group mb-5">
            <h5>IMDb</h5>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label for="imdbRating">Rating</label>
                    <input type="number" step="0.1" class="form-control" id="imdbRating" value="{{movie.imdbRating}}" name="imdbRating" placeholder="Enter IMDb rating" min="0" max="10">
                </div>
                <div class="col-md-4">
                    <label for="imdbVotes">Votes</label>
                    <input type="number" class="form-control" id="imdbVotes" value="{{movie.imdbVotes}}" name="imdbVotes" placeholder="Enter IMDb votes">
                </div>
                <div class="col-md-4">
                    <label for="imdbId">ID</label>
                    <input type="number" class="form-control" id="imdbId" value="{{movie.imdbId}}" name="imdbId" placeholder="Enter IMDb ID">
                </div>
            </div>
        </div>

      <div class="form-group mb-5">
            <h5>Awards</h5>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label for="awardWins">Award Win</label>
                    <input type="number" class="form-control" id="awardWins" value="{{movie.awardsWins}}" name="awardWins" placeholder="Enter number of award wins">
                </div>
                <div class="col-md-4">
                    <label for="awardNominations">Award Nominations</label>
                    <input type="number" class="form-control" id="awardNominations" value="{{movie.awardsNominations}}" name="awardNominations" placeholder="Enter number of award nominations">
                </div>
                <div class="col-md-4">
                    <label for="awardText">Award Text</label>
                    <input type="text" class="form-control" id="awardText" value="{{movie.awardsText}}" name="awardText" placeholder="Enter award text">
                </div>
            </div>
        </div>
        <div class="form-group mb-5">
            <h5>Tomatoes Viewer</h5>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label for="viewerRating">Rating</label>
                    <input type="number" step="0.1" class="form-control" id="viewerRating" value="{{movie.viewerRating}}" name="viewerRating" placeholder="Enter viewer rating" min="0" max="10">
                </div>
                <div class="col-md-4">
                    <label for="viewerNumReviews">Number of Reviews</label>
                    <input type="number" class="form-control" id="viewerNumReviews" value="{{movie.viewerNumReviews}}" name="viewerNumReviews" placeholder="Enter number of viewer reviews">
                </div>
                <div class="col-md-4">
                    <label for="viewerMeter">Meter</label>
                    <input type="number" class="form-control" id="viewerMeter" value="{{movie.viewerMeter}}" name="viewerMeter" placeholder="Enter viewer meter">
                </div>
            </div>
        </div>

<div class="form-group mb-5">
    <h5>Tomatoes Critic</h5>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <label for="criticRating">Rating</label>
            <input type="number" step="0.1" class="form-control" id="criticRating" value="{{movie.criticRating}}" name="criticRating" placeholder="Enter critic rating" min="0" max="10">
        </div>
        <div class="col-md-4">
            <label for="criticNumReviews">Number of Reviews</label>
            <input type="number" class="form-control" id="criticNumReviews" value="{{movie.criticNumReviews}}" name="criticNumReviews" placeholder="Enter number of critic reviews">
        </div>
        <div class="col-md-4">
            <label for="criticMeter">Meter</label>
            <input type="number" class="form-control" id="criticMeter" value="{{movie.criticMeter}}" name="criticMeter" placeholder="Enter critic meter">
        </div>
    </div>
</div>

<div class="form-group mb-5">
    <h5>Tomatoes Others</h5>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <label for="tomatoesFresh">Fresh</label>
            <input type="number" class="form-control" id="tomatoesFresh" value="{{movie.tomatoesFresh}}" name="tomatoesFresh" placeholder="Enter fresh rating">
        </div>
        <div class="col-md-6">
            <label for="tomatoesRotten">Rotten</label>
            <input type="number" class="form-control" id="tomatoesRotten" value="{{movie.tomatoesRotten}}" name="tomatoesRotten" placeholder="Enter rotten rating">
        </div>
    </div>
</div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>

<!-- Include Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<script>
    document.addEventListener('DOMContentLoaded', function () {

        const expressDate = new Date("{{ movie.released }}");
        const month = expressDate.getMonth() + 1;
        const day = expressDate.getDate();
        const year = expressDate.getFullYear();
        const formattedDate = `${year}-${month}-${day}`;
        document.getElementById('released').value = formattedDate;

        const addInputBtns = document.querySelectorAll('.add-btn');
        addInputBtns.forEach(btn => {
            btn.addEventListener('click', function () {
                const containerId = this.dataset.containerId;
                const inputName = this.dataset.inputName;
                addInputField(containerId, inputName);
            });
        });

        const addInputField = (containerId, inputName) => {
            const container = document.getElementById(containerId);
            if (!container) return;

            const inputGroup = document.createElement('div');
            inputGroup.className = 'input-group';
            inputGroup.innerHTML = `
                <input type="text" class="form-control" name="${inputName}" placeholder="Enter value">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary remove-input-btn" type="button">Remove</button>
                </div>
            `;
            container.appendChild(inputGroup);

            const removeBtn = inputGroup.querySelector('.remove-input-btn');
            removeBtn.addEventListener('click', function () {
                inputGroup.remove();
            });
        };

        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('remove-input-btn')) {
                const inputGroup = event.target.closest('.input-group');
                if (inputGroup) {
                    inputGroup.remove();
                }
            }
        });
    });

    document.getElementById('updateForm').addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = {};

        function getDataArrayFromForm(inputName) {
            const dataArray = [];
            const inputs = document.getElementsByName(inputName);
            inputs.forEach(input => {
                dataArray.push(input.value);
            });
            return dataArray;
        }

        const genres = getDataArrayFromForm('genre[]');
        const languages = getDataArrayFromForm('language[]');
        const countries = getDataArrayFromForm('countries[]');
        const casts = getDataArrayFromForm('cast[]');
        const directors = getDataArrayFromForm('director[]');

        formData.plot = document.getElementById('plot').value;
        formData.genres = Array.isArray(genres) ? genres : [genres];
        formData.runtime = document.getElementById('runtime').value;
        formData.cast = Array.isArray(casts) ? casts : [casts];
        formData.poster = document.getElementById('poster').value;
        formData.title = document.getElementById('title').value;
        formData.fullplot = document.getElementById('fullplot').value;
        formData.languages = Array.isArray(languages) ? languages : [languages];
        formData.released = new Date(document.getElementById('released').value).getTime().toString();
        formData.directors = Array.isArray(directors) ? directors : [directors];
        formData.rated = document.getElementById('rated').value;
        formData.awards = {
            wins: document.getElementById('awardWins').value,
            nominations: document.getElementById('awardNominations').value,
            text: document.getElementById('awardText').value
        };
        formData.year = document.getElementById('year').value;
        formData.imdb = {
            rating: document.getElementById('imdbRating').value,
            votes: document.getElementById('imdbVotes').value,
            id: document.getElementById('imdbId').value
        };
        formData.countries = Array.isArray(countries) ? countries : [countries];
        formData.type = document.getElementById('type').value;
        formData.tomatoes = {
            viewer: {
                rating: document.getElementById('viewerRating').value,
                numReviews: document.getElementById('viewerNumReviews').value,
                meter: document.getElementById('viewerMeter').value
            },
            fresh: document.getElementById('tomatoesFresh').value,
            critic: {
                rating: document.getElementById('criticRating').value,
                numReviews: document.getElementById('criticNumReviews').value,
                meter: document.getElementById('criticMeter').value
            },
            rotten: document.getElementById('tomatoesRotten').value,
        };

        const id = event.target.getAttribute('action').split('/').pop();

        try {
            const token = localStorage.getItem('token');
            const response = await fetch(`/api/movies/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                console.log('Movie updated successfully');
                document.location.replace('/');
            } else {
                console.error('Failed to update movie');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
    
</script>


